.form-login{
    max-width: 650px;
}

@media (max-width: 650px){
    .form-login{
        max-width: 80%;
    }
}

.btn-cadastro{
    background-color: #614EA6;
    color: #fff;
    width: 100%;
}

.btn-cadastro:hover{
    background-color: #F21667;
    color: #fff;
}